body{
    margin: 0;
    padding: 0;
    background-color: #202020;
}
#login-container{
    width: 450px;
    height: 375px;
    background-color: #1662f0;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#login-container h3{
    font-weight: normal;
    font-family: 'Cairo',sans-serif;
    text-align: center;
    color: white;
    font-size: 2em;
    margin-top: 25px;
    margin-bottom: 5px;
}
#login-container hr{
    margin-top: 15px;
    margin-bottom: 2.7rem;
    width: 250px;
    border-color: white;
}

#login-container .input-group{
    padding-left: 30px;
    padding-right: 30px;
} 

#login-container .input-group span{
    background-color: #202020;
    border: none;
}

#login-container .input-group input{
    border: none;
    font-family:'Cairo',sans-serif ;
}
#login-container .input-group input:focus{
    box-shadow: none;
    border: 1px solid white;
}